@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

.nav-sticky {
    position: sticky;
    top: 0px;
    z-index: 3;
}

:root {
    --fs-sm: 18px;
    --fs-md: 20px;
    --fs-lg: 24px;
    --fs-xl: 36px;
    --fs-xxl: 48px;
    --bg-primmary: #F6E300;
    --bg-secondry: #FFF03F;
    --bg-last: #F4241E;
    --text-light: #ffffff;
    --text-medium: #F4241E;
    --text-dark: #000000;
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xxl {
    font-size: var(--fs-xxl);
}

.bg-primmary {
    background-color: var(--bg-primmary);
}

.bg-secondry {
    background-color: var(--bg-secondry);
}

.bg-last {
    background-color: var(--bg-last);
}

.text-light {
    color: var(--text-light);
}

.text-medium {
    color: var(--text-medium);
}

.text-dark {
    color: var(--text-dark);
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fm-poppins {
    font-family: "poppins", sans-serif;
}

.fm-roboto {
    font-family: "roboto", sans-serif;
}

/* .nav-btn {
    width: 220px;
    height: 54px;
    background-color: white;
    border-radius: 10px;
} */

.bg-img {
    background-image: url(/assets/img/png/hero\ section\ image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.w-500 {
    width: 500px;
}

.mx-w-590 {
    max-width: 590px;
}

.img-box {
    border: 1px solid;
    width: 806px;
    height: 215px;
}

.cursor-pointer {
    cursor: pointer;
}

.p-absolute {
    transform: translatey(-30%);
}

.b-absoulte {
    position: absolute;
    top: 3%;
    left: 4%;
    width: 7%;
}

.b-absoulte-2 {
    position: absolute;
    left: 1%;
    bottom: 25%;
    width: 7%;
}

.b-absoulte-3 {
    position: absolute;
    top: 7%;
    left: 21%;
    width: 7%;
}

.b-absoulte-4 {
    position: absolute;
    left: 15%;
    bottom: 28%;
    width: 7%;
}

.b-absoulte-5 {
    position: absolute;
    top: 12%;
    right: 25%;
    width: 7%;
}

.b-absoulte-6 {
    position: absolute;
    right: 18%;
    bottom: 25%;
    width: 7%;
}

.b-absoulte-7 {
    position: absolute;
    top: 1%;
    right: 1%;
    width: 7%;
}

.b-absoulte-8 {
    position: absolute;
    right: 1%;
    bottom: 36%;
    width: 7%;
}

.br-absoulte {
    position: absolute;
    top: 375px;
    left: 99px;
}

.br-absoulte-2 {
    position: absolute;
    left: 67px;
    bottom: 97px;
}

.br-absoulte-3 {
    position: absolute;
    top: 99px;
    left: 376px;
}

.br-absoulte-4 {
    position: absolute;
    left: 485px;
    bottom: 334px;
}

.br-absoulte-5 {
    position: absolute;
    top: 282px;
    right: 477px;
}

.br-absoulte-6 {
    position: absolute;
    right: 516px;
    bottom: 112px;
}

.br-absoulte-7 {
    position: absolute;
    top: 92px;
    right: 59px;
}

.br-absoulte-8 {
    position: absolute;
    right: 76px;
    bottom: 173px;
}

.btn-box {
    width: 219px;
    height: 53px;
    border-radius: 10px;
    cursor: pointer;
}

.time-box-1 {
    background-color: #ffffff;
    border-radius: 10px;
}

.footer-box {
    width: 900px;
}

.timeline-container {
    position: relative;
}

.timeline-container::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 79%;
    background-color: red;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-box-one,
.timeline-box-two {
    position: relative;
}

.timeline-box-one::after {
    position: absolute;
    content: '';
    height: 20px;
    background-color: white;
    width: 20px;
    border-radius: 50%;
    top: 0;
    right: -10px;
    z-index: 1;
}

.timeline-box-two::after {
    position: absolute;
    content: '';
    height: 20px;
    background-color: white;
    width: 20px;
    border-radius: 50%;
    top: 0;
    left: -10px;
    z-index: 1;
}

.transform {
    transform: rotate(180deg);
}

.accordion {
    border: none !important;
    box-shadow: none !important;
    border-width: none !important;
}

.accordion-item {
    border: none !important;
}

.accordion-button {
    background-color: #fff03f !important;
    color: #000000 !important;
    border-color: none !important;
    box-shadow: none !important;
}

header ul :hover {
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width:1200px) {
    label[for="menuicon"] {
        width: 35px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        z-index: 4;
        position: relative;
    }

    label[for=menuicon]>span {
        width: 100%;
        height: 4px;
        background-color: #F4241E;
    }

    .sm-screen {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(229, 233, 17);
        position: fixed;
        top: 0%;
        /* left: 0%; */
        width: 100%;
        height: 100%;
        z-index: 3;
        opacity: 0;
        pointer-events: none;
        left: -100%;
        transition: all 400ms linear;
    }

    input[type="checkbox"]:checked~ul.sm-screen {
        opacity: 1;
        pointer-events: all;
        left: 0;
    }
}

@media (max-width:992px) {
    .justify-md-start {
        justify-content: left;
    }

    .res {
        width: 100% !important;
    }

    .timeline-container::after {
        left: 0%;
        transform: translateX(-50%);
    }

    .timeline-box-one::after {
        left: -10px;
        margin-left: 11px;
    }

    .ml-box-md-20 {
        margin-left: 20px;
    }

    .ml-box-md-10 {
        margin-left: 10px;
    }

    .ml-md-10 {
        margin-left: 0px;
    }

    .ml {
        margin-left: -3px;
        margin-right: 10px;
    }

    .img-lg-100 {
        width: 100%;
    }

    .img-lg-50 {
        width: 50%;
    }

    .img-lg-80 {
        width: 80%;
    }

    .mb-md-20 {
        margin-bottom: 20px;
    }
}

@media (max-width:435px) {
    .timeline-container::after {
        height: 77%;
    }
}

@media (max-width:576px) {
    :root {
        --fs-sm: 16px;
        --fs-md: 18px;
        --fs-lg: 20px;
        --fs-xl: 30px;
        --fs-xxl: 36px;
        --bg-primmary: #F6E300;
        --bg-secondry: #FFF03F !important;
        --bg-last: #F4241E;
        --text-light: #ffffff;
        --text-medium: #F4241E;
        --text-dark: #000000;
    }
}

@media (max-width:768px) {
    .w-md-100 {
        width: 100%;
    }
}